<%= stylesheet_link_tag    'events', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container alert alert-warning" id="new-event-btn">
    <%= link_to 'New Event', new_event_path %>
</div>

<br>

<!-- Page Content -->
<div class="container alert alert-info" style="border-width: 5px">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="event-header" id="header-one">Event</div>
            <div class="event-header" id="header-two">Location</div>
            <div class="event-header" id="header-three">People</div>
            <div class="event-header" id="header-four">Lit</div>
            <div class="event-header" id="header-five">Actions</div>
        </div>
    </div>
    <!-- /.row -->
</div>

<% @events.each do |event| %>
    <div class="container alert alert-info" style="border-width: 5px">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="events one"><%= event.name %></div>
                <div class="events two"><%= event.location %></div>
                <div class="events three" id="participate-count-<%= event.id %>"></div>
                <div class="events four"><%= image_tag('lit-indicator.png', :class => 'lit') %></div>
                <div class="events five">
                    <%- if event.user.id == current_user.id %>
                      <div class="container alert alert-warning show-btn">
                          <%= link_to 'Show', event %>
                      </div>

                      <div class="container alert alert-warning edit-btn">
                          <%= link_to 'Edit', edit_event_path(event) %>
                      </div>

                      <div class="container alert alert-warning destroy-btn">
                          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are You Sure?' } %>
                      </div>
                    <% end -%>

                    <%- if event.user.id != current_user.id %>
                      <div class="container alert alert-warning show-btn" style="margin-top: 30px">
                          <%= link_to 'Show', event %>
                      </div>

                      <div class="container alert alert-warning participate-btn">
                          <%= link_to 'Attend', participants_path(participant: {event_id: event.id, user_id: current_user.id}), method: :post %>
                      </div>
                    <% end -%>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>

    <!-- /.container -->
<% end %>

<br>

<script>

$(document).ready(function () {
  <% @events.each do |event| %>
    $.get( "/events/<%= event.id %>/participants_count", function(data) {
      $("#participate-count-<%= event.id %>").html(data);
    });
  <% end %>
});
</script>