<%= stylesheet_link_tag    'events', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="container alert alert-warning" id="new-event-btn" style="float:right; margin-right: 185px">
    <%= link_to 'New Event', new_event_path %>
</div>

<div style="margin-left: 182px">
<%= form_tag(events_path, :method => "get", id: "search-form") do %>
  <h4 style="color: darkblue">
    <%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
  <%= submit_tag "Search" %>
  </h4>
<% end %>
<br>
</div>

<!-- Page Content -->
<div class="container alert" style="border-width: 5px">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="event-header" id="header-one">Event</div>
            <div class="event-header" id="header-two">Location</div>
            <div class="event-header" id="header-three">People</div>
            <div class="event-header" id="header-four">Lit</div>
            <div class="event-header" id="header-five">Actions</div>
        </div>
    </div>
    <!-- /.row -->
</div>

<% @events.each do |event| %>
    <div class="container alert" style="border-width: 5px">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <% if event.name.length <= 8 %>
                    <div class="col-xs-6 events one"><%= event.name %></div>
                <% end -%>

                <% if event.name.length > 8 %>
                    <div class="col-xs-6 events one" style="font-size: 35px; padding-top: 33px"><%= event.name %></div>
                <% end -%>

                <% if event.location.length <= 10 %>
                    <div class="col-xs-6 events two"><%= event.location %></div>
                <% end -%>

                <% if event.location.length > 10 %>
                    <div class="col-xs-6 events two" style="font-size: 30px; padding-top: 39px"><%= event.location %></div>
                <% end -%>

                <div class="col-xs-6 events three" id="participate-count-<%= event.id %>"></div>
                
                <% if event.participants.length < 1 %>
                    <div class="col-xs-6 events four"><%= image_tag('lit-darkblue.png', :class => 'lit') %></div>
                <% end -%>

                <% if event.participants.length >= 1 && event.participants.length < 5 %>
                    <div class="col-xs-6 events four"><%= image_tag('lit-orange.png', :class => 'lit') %></div>
                <% end -%>

                <% if event.participants.length >= 5 && event.participants.length < 10 %>
                    <div class="col-xs-6 events four"><%= image_tag('lit-red.png', :class => 'lit') %></div>
                <% end -%>

                <% if event.participants.length >= 10 && event.participants.length < 25 %>
                    <div class="col-xs-6 events four"><%= image_tag('lit-purple.png', :class => 'lit') %></div>
                <% end -%>

                <% if event.participants.length >= 25 && event.participants.length < 50 %>
                    <div class="col-xs-6 events four"><%= image_tag('lit-lightblue.png', :class => 'lit') %></div>
                <% end -%>

                <% if event.participants.length >= 50 %>
                    <div class="col-xs-6 events four"><%= image_tag('lit-yellow.png', :class => 'lit') %></div>
                <% end -%>

               
                <div class="col-xs-6 events five">
                    <% if event.user.id == current_user.id %>
                      <div class="container alert show-btn" style="width: 90px; float: left;">
                          <%= link_to 'Show', event %>
                      </div>

                      <div class="container alert edit-btn"  style="width: 85px">
                          <%= link_to 'Edit', edit_event_path(event) %>
                      </div>

                      <div class="container alert destroy-btn">
                          <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are You Sure?' } %>
                      </div>
                    <% end -%>

                    <% if event.user.id != current_user.id %>
                     <div class="container alert show-btn" style="width: 102px; margin-left: 24px">
                          <%= link_to 'Show', event %>
                      </div>

                      <% event.participants.each do |participant| %>
                          <% if participant.user.id == current_user.id %>
                              <% @current_participant = participant %>
                          <% end %>
                      <% end %>

                      <% if @current_participant %>
                          <div class="container alert leave-btn">
                              <%= link_to 'Leave', @current_participant, method: :delete %>
                          </div>
                      <% else %>
                          <div class="container alert participate-btn">
                              <%= link_to 'Attend', participants_path(participant: {event_id: event.id, user_id: current_user.id}), method: :post %>
                          </div>
                      <% end %>

                      
                    <% end -%>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>

    <!-- /.container -->
<% end %>

<br>

<script>

$(document).ready(function () {
  <% @events.each do |event| %>
    $.get( "/events/<%= event.id %>/participants_count", function(data) {
      $("#participate-count-<%= event.id %>").html(data);
    });
  <% end %>
});
</script>