<%= stylesheet_link_tag    'show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'form', media: 'all', 'data-turbolinks-track': 'reload' %>


<!-- <p id="notice"><%= notice %></p> -->

<div class="container alert alert-info" style="width: 50%; border-width: 5px;">
<h1 class="details" style="color: #FFC000; margin-top: 50px">
  <strong><%= @event.name %></strong>
</h1><br>

<h3 class="details">
  <strong>Creator:</strong>
  <%= @event.user_id %> (REPLACE THIS ID WITH USERNAME)
</h3>

<h3 class="details">
  <strong>Location:</strong>
  <%= @event.location %>
</h3>

<h3 class="details">
  <strong>Description:</strong>
  <%= @event.description %>
</h3>

<br>

<h4>----------------------------------------------------------------------------------------------------</h4>

<br>

<h4 style="margin-bottom: 20px"><strong>Comments</strong></h4>

<!-- TODO: POPULATE COMMENTS WITH USERNAMES HERE-->
<% @event.comments.each do |comment| %>

  <h5><strong>
    <%= comment.user_id %> (REPLACE THIS ID WITH USERNAME): <%= comment.body %> (<%= comment.created_at %>)

    <!--
      comment.body - comment text
      comment.user_id - ID of User (represented as unique number), fetch user through GET request of REST API /users/:user_id, which returns JSON object that contains the variable "username"
      comment.created_at - date when comment was added to database (should be creation date)
    -->
  </strong></h5>
<% end %>

<br><br>

<div class="text-center">
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :event_id, :value => @event.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <h4><%= f.label :body, "New Comment" %></h4>
    <h5 style="color: white"><%= f.text_area :body, :maxlength => 91 %></h5>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Post Comment" %>
  </div>
  <br><br>
<% end %>
</div>

<h5 style="margin-bottom: 30px"><%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Return', events_path %></h5>

</div>

