<!DOCTYPE html>
<html class="full">
  <head>
    <title>AwkkBros</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- <p class="notice"><%= notice %></p> -->
   	<center><p class="alert"><h3 style="color: white; text-shadow: 0 0 10px black, 0 0 2px #FFC000;"><%= alert %></h3></p></center>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #000033">
        <div class="container" style="background-color: #000033; border-color: #000033">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="litHover" href="/">LIT</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="eventHover1" href="/events">Lit Events</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="eventHover2">
                      <% if user_signed_in? %>
                        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                      <% else %>
                        <%= link_to('Login', new_user_session_path)  %>
                      <% end %>
                    </li>
                </ul>
                <% if user_signed_in? %>
                <p class="navbar-text navbar-right">Signed in as
                  <a href="#" class="navbar-link"><%= current_user.username %></a></p>
                <% end %>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <%= yield %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

  </body>
</html>
